{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -37.9162223,
    "longitude": 145.0785927,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Australia/Melbourne",
    "external_url": null,
    "internal_url": null,
    "currency": "AUD",
    "country": "AU",
    "language": "en-GB",
    "radius": 100
  }
}
